html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.progress-bar {
    transition: width 1s;
}

.progress:hover .progress-bar {
    width: 100%;
    background-color: #28a745;
}

.animation-block {
    min-height: 180px;
}

.adjust-row-numbers {
    margin-left: -25px;
    margin-top: 15px;
}

.widthButton {
    width: auto;
    margin-bottom: 5px;
}

.nps-color-0 {
    background-color: #850000 !important;
}

.ripple {
    position: relative;
    overflow: hidden;
}

.nps-color-1 {
    background-color: #9f0000 !important;
}

.nps-color-2 {
    background-color: #b80000 !important;
}

.nps-color-3 {
    background-color: #d20000 !important;
}

.nps-color-4 {
    background-color: #eb0000 !important;
}

.nps-color-5 {
    background-color: #ff0606 !important;
}

.nps-color-6 {
    background-color: #ff1f1f !important;
}

.nps-color-7 {
    background-color: #ffa524 !important;
}

.nps-color-8 {
    background-color: #ff9b0b !important;
}

.nps-color-9 {
    background-color: #83bf3f !important;
}

.nps-color-10 {
    background-color: #76ac39 !important;
}

.btn-feedback {
    cursor: pointer !important;
    text-decoration: none !important;
    color: var(--bs-body-color) !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
    padding: 0 !important;
}