@{
    ViewData["Title"] = "Privacy Policy";
}

<h1><b>Política de Privacidade</b></h1>
<h6>Atualizado em 18-04-2023</h6>

<p>Relacionamento Padaria ("nós", "nosso;" ou "nós") tem o compromisso de proteger sua privacidade. Esta Política de Privacidade explica como seus dados pessoais
as informações são coletadas, utilizadas e divulgadas pelo Relacionamento Padaria.
<br/>
<br/>
Esta Política de Privacidade se aplica ao nosso site, SRCDumazinho.com.br, e seus subdomínios associados (coletivamente, nosso "Serviço"). Por acessando ou usando nosso Serviço, você indica que leu, entendeu e concorda com nossa coleta, armazenamento, uso e divulgação
de suas informações pessoais conforme descrito nesta Política de Privacidade e nossos Termos de Serviço. </p>

<h2>Definições e termos-chave</h2>

<p>Para ajudar a explicar as coisas da forma mais clara possível nesta Política de Privacidade, toda vez que qualquer um desses termos for mencionado, será estritamente definido;
<br/>
    <br />
    « <b>Cookie:</b> pequena quantidade de dados gerados por um site e salvos pelo seu navegador. Ele é usado para identificar seu navegador,
forneça análises, lembre-se de informações sobre você, como sua preferência de idioma ou informações de login.
    <br />
    « <b>Empresa:</b> quando esta política menciona “Empresa”, “nós”, “nós/” ou “nosso”; refere-se à Padaria Dumazinho, Rua dos Cravos 325 ,
Jardim Alterosa 2º Seção. que é responsável por suas informações sob esta Política de Privacidade.
    <br />
    « <b>País:</b> onde o Relacionamento Padaria ou os proprietários/fundadores do Relacionamento Padaria estão sediados, neste caso é o Brasil.
    <br />
    « <b>Cliente:</b> refere-se à empresa, organização ou pessoa que contrata o Serviço Relacionamento Padaria para gerir
as relações com seus consumidores ou usuários do serviço.
    <br />
    « <b>Dispositivo:</b> qualquer dispositivo conectado à Internet, como telefone, tablet, computador ou qualquer outro dispositivo que possa ser usado para visitar
Relacionamento Padaria e utilizar os serviços.
    <br />
    « <b>Endereço IP:</b> Cada dispositivo conectado à Internet recebe um número conhecido como protocolo de Internet! (Endereço de IP. Esses
os números geralmente são atribuídos em blocos geográficos. Um endereço IP geralmente pode ser usado para identificar o local de onde um
dispositivo está se conectando à Internet.
    <br />
    « <b>Pessoal:</b> refere-se às pessoas físicas que são empregadas pelo Relacionamento Padaria ou contratadas para a prestação de um serviço
em nome de uma das partes.
    <br />
    « <b>Dados Pessoais:</b> qualquer informação que direta, indiretamente ou em conexão com outras informações — incluindo uma informação pessoal
número de identificação — permite a identificação ou identificabilidade de uma pessoa singular.
    <br />
    « <b>Serviço:</b> refere-se ao serviço prestado pelo Relacionamento Padaria conforme descrito nos termos relativos (se disponíveis) e neste
plataforma.
    <br />
    « <b>Serviço de terceiros:</b> refere-se a anunciantes, patrocinadores de concursos, parceiros promocionais e de marketing e outros que fornecem nossos
conteúdo ou cujos produtos ou serviços pensamos que podem interessá-lo.
    <br />
    « <b>Site:</b> Site do Relacionamento Padaria, que pode ser acessado através desta URL: SRCDumazinho.com.br.
    <br />
    « <b>Você:</b> pessoa ou entidade cadastrada no Relacionamento Padaria para utilizar os Serviços.
    <br />
    <br />
    <h2>Quais são as informações que coletamos?</h2>
    Coletamos suas informações quando você visita nosso serviço, se registra, faz um pedido, assina nosso boletim informativo, responde a uma pesquisa
ou preencha um formulário.
    <br />
    * <b>Nome/Nome de usuário</b>
    <br />
    * <b>Números de telefone</b>
    <br />
    * <b>Endereço de e-mail</b>
    <br />
   Também coletamos informações de dispositivos móveis para uma melhor experiência do usuário, embora esses recursos sejam totalmente opcionais:
    <br />
    <br />
    « <b>Lista Telefônica (Lista de contatos):</b> Sua lista de contatos permite que nosso serviço seja muito mais fácil de ser utilizado pelo usuário, pois o acesso
seus contatos do aplicativo fazem você economizar muito tempo.
    <br />
    « <b>Câmera (Fotos):</b> Conceder permissão de câmera permite ao usuário fazer upload de qualquer foto diretamente de nosso serviço. você pode com segurança
negar permissões de câmera para nosso serviço.
    <br />
    « <b>Galeria de Fotos (Imagens):</b> A concessão de acesso à galeria de fotos permite que o usuário carregue qualquer imagem de sua galeria de fotos, você pode
negar com segurança o acesso à galeria de fotos para o nosso serviço.
</p>
<br />
<br />
<h2>Alterações à nossa política de privacidade</h2>
Se decidirmos alterar nossa política de privacidade, publicaremos essas alterações nesta página e/ou atualizaremos a data de modificação da Política de Privacidade
abaixo.
<br />
<br />

<h2>Privacidade das crianças</h2>
Coletamos informações de crianças menores de 13 anos apenas para melhorar nossos serviços. Se você é pai ou responsável e está ciente
que seu filho nos forneceu dados pessoais sem sua permissão, entre em contato conosco. Se tomarmos conhecimento de que temos
coletamos dados pessoais de qualquer pessoa com menos de 13 anos sem verificação do consentimento dos pais, tomamos medidas para removê-los
informações de nossos servidores.
<br />
Se decidirmos alterar nossa política de privacidade, publicaremos essas alterações nesta página e/ou atualizaremos a data de modificação da Política de Privacidade
abaixo.
<br />
Podemos exibir, incluir ou disponibilizar conteúdo de terceiros (incluindo dados, informações, aplicativos e outros serviços de produtos)
ou fornecer links para sites ou serviços de terceiros ("Serviços de terceiros").
<br />
Você reconhece e concorda que não seremos responsáveis por quaisquer Serviços de Terceiros, incluindo sua precisão, integridade,
pontualidade, validade, conformidade com direitos autorais, legalidade, decência, qualidade ou qualquer outro aspecto disso. Não assumimos e não teremos
qualquer obrigação ou responsabilidade perante você ou qualquer outra pessoa ou entidade por quaisquer Serviços de Terceiros.
<br />
Serviços de terceiros e links para os mesmos são fornecidos apenas como uma conveniência para você e você os acessa e usa inteiramente por conta própria
risco e sujeito aos termos e condições de tais terceiros.
<br />
<br />

<h2>Serviços terceirizados</h2>
Podemos exibir, incluir ou disponibilizar conteúdo de terceiros (incluindo dados, informações, aplicativos e outros serviços de produtos)
ou fornecer links para sites ou serviços de terceiros ("Serviços de terceiros").
<br />
Você reconhece e concorda que não seremos responsáveis por quaisquer Serviços de Terceiros, incluindo sua precisão, integridade,
pontualidade, validade, conformidade com direitos autorais, legalidade, decência, qualidade ou qualquer outro aspecto disso. Não assumimos e não teremos
qualquer obrigação ou responsabilidade perante você ou qualquer outra pessoa ou entidade por quaisquer Serviços de Terceiros.
<br />
Serviços de terceiros e links para os mesmos são fornecidos apenas como uma conveniência para você e você os acessa e usa inteiramente por conta própria
risco e sujeito aos termos e condições de tais terceiros.
<br />
<br />
<h2>Cookies</h2>
Usamos Cookies para melhorar o desempenho e a funcionalidade de nosso serviço, mas não são essenciais para seu uso. No entanto, sem
esses cookies, certas funcionalidades como vídeos podem ficar indisponíveis ou você será solicitado a inserir seus detalhes de login a cada
vez que você visitar nosso serviço, pois não conseguiríamos lembrar que você se conectou anteriormente.